<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Car</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>
<div style="display: flex; text-align: center; align-items: center; flex-direction: column; margin-top: 0px">
    <h2>Create Car</h2>
</div>
<div th:if="${error}" class="error-message" th:text="${error}">
</div>
<div style="display: flex; text-align: center; align-items: center; flex-direction: column; margin-top: 0px">

    <form style="display:flex; flex-direction:column; gap:10px;" th:action="@{/cars}" th:object="${car}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="make" style="width:120px;">Make</label>
            <div style="display:flex; flex-direction:column;">
                <input type="text" id="make" th:field="*{make}">
                <span class="field-error" th:errors="*{make}"></span>
            </div>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="model" style="width:120px;">Model</label>
            <div style="display:flex; flex-direction:column;">
                <input type="text" id="model" th:field="*{model}">
                <span class="field-error" th:errors="*{model}"></span>
            </div>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="hourlyPrice" style="width:120px;">Hourly Price</label>
            <div style="display:flex; flex-direction:column;">
                <input type="number" id="hourlyPrice" th:field="*{hourlyPrice}">
                <span class="field-error" th:errors="*{hourlyPrice}"></span>
            </div>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="licencePlate" style="width:120px;">License Plate</label>
            <div style="display:flex; flex-direction:column;">
                <input type="text" id="licencePlate" th:field="*{licencePlate}">
                <span class="field-error" th:errors="*{licencePlate}"></span>
            </div>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="vin" style="width:120px;">VIN</label>
            <div style="display:flex; flex-direction:column;">
                <input type="text" id="vin" th:field="*{vin}">
                <span class="field-error" th:errors="*{vin}"></span>
            </div>
        </div>

        <div style="display:flex; gap:10px; align-items:center;">
            <label for="year" style="width:120px;">Year</label>
            <div style="display:flex; flex-direction:column;">
                <input type="text" id="year" th:field="*{year}">
                <span class="field-error" th:errors="*{year}"></span>
            </div>
        </div>

        <div style ="display: flex; align-items: center; flex-direction: column; margin-top:10px; width:100%;">
            <button type="submit">Create Car</button>
        </div>
    </form>
</div>
</body>