<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/tables.css}"/>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="page-header">
    <h2>Cars</h2>
</div>

<div class="list-container">

    <table class="data-table">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Hourly Price</th>
            <th>Licence Plate</th>
            <th>VIN</th>
            <th>Year</th>
            <th sec:authorize="hasRole('ADMIN')">Update</th>
            <th sec:authorize="hasRole('ADMIN')">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${cars.content}">
            <td th:text="${c.make}">Make</td>
            <td th:text="${c.model}">Model</td>
            <td th:text="${c.hourlyPrice}">Hourly Price</td>
            <td th:text="${c.licencePlate}">Licence Plate</td>
            <td th:text="${c.vin}">VIN</td>
            <td th:text="${c.year}">Year</td>

            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/cars/{id}/update(id=${c.id})}">
                    <button type="button">Update</button>
                </a>
            </td>

            <td sec:authorize="hasRole('ADMIN')">
                <form th:action="@{/cars/{id}/delete(id=${c.id})}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagination">

    <a th:if="${cars.hasPrevious()}"
       th:href="@{/cars(page=${cars.number-1}, q=${param.q}, make=${param.make}, model=${param.model}, year=${param.year}, licencePlate=${param.licencePlate}, vin=${param.vin}, sort=${param.sort})}">
        Previous
    </a>

    <span>
        Page <span th:text="${cars.number + 1}"></span>
        of <span th:text="${cars.totalPages}"></span>
    </span>

    <a th:if="${cars.hasNext()}"
       th:href="@{/cars(page=${cars.number+1}, q=${param.q}, make=${param.make}, model=${param.model}, year=${param.year}, licencePlate=${param.licencePlate}, vin=${param.vin}, sort=${param.sort})}">
        Next
    </a>

</div>

<div th:if="${success}" class="success-message">
    <span th:text="${success}"></span>
</div>

</body>
</html>