<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body>

<div style="display: flex; text-align: center; align-items: center; flex-direction: column; margin-top: 0px">
    <h2>Cars</h2>
</div>

<div style="display: flex; text-align: center; align-items: center; flex-direction: column; margin-top: 0px">

    <table style="border-collapse: collapse; border: 1px solid black; margin: 0 auto;">
        <thead>
        <tr>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                Make
            </th>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                Model
            </th>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                Hourly Price
            </th>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                Licence Plate
            </th>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                VIN
            </th>
            <th style="border: 1px solid black; padding: 8px 16px; background-color: black; color: white;">
                Year
            </th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="c : ${cars.content}">
            <td th:text="${c.make}">Make</td>
            <td th:text="${c.model}">Model</td>
            <td th:text="${c.hourlyPrice}">Hourly Price</td>
            <td th:text="${c.licencePlate}">Licence Plate</td>
            <td th:text="${c.vin}">VIN</td>
            <td th:text="${c.year}">Year</td>
        </tr>

        </tbody>
    </table>
</div>
<div style="margin-top:20px; text-align:center;">

    <a th:if="${cars.hasPrevious()}"
       th:href="${make != null and !make.isEmpty()} ?
                 @{/cars(page=${cars.number-1}, make=${make})} :
                 @{/cars(page=${cars.number-1})}">
        Previous
    </a>

    <span>
        Page <span th:text="${cars.number + 1}"></span>
        of <span th:text="${cars.totalPages}"></span>
    </span>

    <a th:if="${cars.hasNext()}"
       th:href="${make != null and !make.isEmpty()} ?
                 @{/cars(page=${cars.number+1}, make=${make})} :
                 @{/cars(page=${cars.number+1})}">
        Next
    </a>

</div>

<div th:if="${success}"
     style="margin-top: 20px; text-align: center; color: green; font-weight: bold;">
    <span th:text="${success}"></span>
</div>

</body>
</html>