<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/forms.css}"/>
</head>
<body>
<div class="page-header">
    <h2>Create a Fleetify account</h2>
</div>
<div th:if="${error}" class="error-message" th:text="${error}">
</div>
<div class="form-container-simple">

    <form class="form-simple" th:action="@{/signup/new}" th:object="${user}" method="post">

        <div class="form-field-simple">
            <label for="email">Email</label>
            <div class="form-field-input">
                <input type="text" id="email" th:field="*{email}">
                <span class="field-error" th:errors="*{email}"></span>
            </div>
        </div>

        <div class="form-field-simple">
            <label for="password">Password</label>
            <div class="form-field-input">
                <input type="password" id="password" th:field="*{password}">
                <span class="field-error" th:errors="*{password}"></span>
            </div>
        </div>

        <div class="button-container-simple">
            <button type="submit">Create Account</button>
        </div>
    </form>
</div>
</body>