<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Drivers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/tables.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="page-header">
    <h2>Drivers</h2>
</div>

<div class="list-container">

    <table class="data-table">
        <thead>
        <tr>
            <th>Driver ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>SSN</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="d : ${drivers.content}">
            <td th:text="${d.id}">Driver ID</td>
            <td th:text="${d.fname}">First Name</td>
            <td th:text="${d.lname}">Last Name</td>
            <td th:text="${d.ssn}">SSN</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="pagination">

    <a th:if="${drivers.hasPrevious()}"
       th:href="@{/drivers(page=${drivers.number-1}, q=${param.q}, fname=${param.fname}, lname=${param.lname}, ssn=${param.ssn}, driverId=${param.driverId}, sort=${param.sort})}">
        Previous
    </a>

    <span>
        Page <span th:text="${drivers.number + 1}"></span>
        of <span th:text="${drivers.totalPages}"></span>
    </span>

    <a th:if="${drivers.hasNext()}"
       th:href="@{/drivers(page=${drivers.number+1}, q=${param.q}, fname=${param.fname}, lname=${param.lname}, ssn=${param.ssn}, driverId=${param.driverId}, sort=${param.sort})}">
        Next
    </a>

</div>

<div th:if="${success}" class="success-message">
    <span th:text="${success}"></span>
</div>

</body>
</html>