<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Update Driver</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/tables.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form-tables.css}"/>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="page-header">
    <h2>Update Driver</h2>
</div>

<div th:if="${error}" class="message error" th:text="${error}"></div>

<div class="list-container">
    <div class="table-container table-container-max-width-650">
        <div class="table-card">
            <form th:action="@{/drivers/{id}/update(id=${driverId})}"
                  th:object="${driver}"
                  method="post"
                  id="updateForm"
                  class="form-width-100">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <table class="data-table data-table-margin-bottom-0">
                    <tbody>
                    <tr>
                        <td>
                            <label for="fname">First Name</label>
                            <span class="input-hint">Required</span>
                        </td>
                        <td>
                            <input type="text"
                                   id="fname"
                                   th:field="*{fname}"
                                   placeholder="John"
                                   class="form-input">
                            <span class="field-error" th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="lname">Last Name</label>
                            <span class="input-hint">Required</span>
                        </td>
                        <td>
                            <input type="text"
                                   id="lname"
                                   th:field="*{lname}"
                                   placeholder="Doe"
                                   class="form-input">
                            <span class="field-error" th:if="${#fields.hasErrors('lname')}" th:errors="*{lname}"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="ssn">SSN</label>
                            <span class="input-hint">YYYYMMDDXXXX</span>
                        </td>
                        <td>
                            <input type="text"
                                   id="ssn"
                                   th:field="*{ssn}"
                                   placeholder="199001011234"
                                   class="form-input">
                            <span class="field-error" th:if="${#fields.hasErrors('ssn')}" th:errors="*{ssn}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="button-group">
        <button type="submit" form="updateForm" class="btn btn-primary">Update Driver</button>
        <a th:href="@{/drivers}" class="btn">Cancel</a>
    </div>
</div>

</body>
</html>