<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Update Booking - Fleetify</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/global.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/form-tables.css}"/>
</head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div th:if="${error}" class="message error" th:text="${error}"></div>

<div class="page-header">
    <h2>Update Booking</h2>
</div>

<div class="list-container">
    <div class="table-container table-container-max-width-650">
        <div class="table-card">
            <form th:action="@{/bookings/{id}/update(id=${bookingId})}"
                  th:object="${booking}"
                  method="post"
                  id="updateForm"
                  class="form-width-100">

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="hidden" th:field="*{carId}" />
                <input type="hidden" th:field="*{driverId}" />

                <table class="data-table data-table-margin-bottom-0">
                    <tbody>
                    <tr>
                        <td>
                            <label>Car</label>
                        </td>
                        <td>
                            <div class="readonly-info" th:text="${carDisplay}">Car</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Driver</label>
                        </td>
                        <td>
                            <div class="readonly-info" th:text="${driverDisplay}">Driver</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="startTime">Start Time</label>
                            <span class="input-hint">Required</span>
                        </td>
                        <td>
                            <input type="datetime-local"
                                   id="startTime"
                                   th:field="*{startTime}"
                                   th:value="${formattedStartTime}"
                                   required
                                   class="form-input">
                            <span class="field-error" th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="endTime">End Time</label>
                            <span class="input-hint">Required</span>
                        </td>
                        <td>
                            <input type="datetime-local"
                                   id="endTime"
                                   th:field="*{endTime}"
                                   th:value="${formattedEndTime}"
                                   required
                                   class="form-input">
                            <span class="field-error" th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="insuranceType">Insurance</label>
                            <span class="input-hint">Coverage level</span>
                        </td>
                        <td>
                            <select id="insuranceType" th:field="*{insuranceType}" class="form-select" required>
                                <option value="">-- Select Insurance Type --</option>
                                <option th:each="type : ${insuranceTypes}"
                                        th:value="${type.key}"
                                        th:text="${type.value}"
                                        th:selected="${type.key == booking.insuranceType}">
                                </option>
                            </select>
                            <span class="field-error" th:if="${#fields.hasErrors('insuranceType')}" th:errors="*{insuranceType}"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="button-group">
        <button type="submit" form="updateForm" class="btn btn-primary">Update Booking</button>
        <a th:href="@{/bookings}" class="btn">Cancel</a>
    </div>
</div>

</body>
</html>